name: Deploy Plugin
on:
  push:
    branches: [ 'main' ]
    paths:
      - 'gradle-plugin/**'

jobs:
  deploy:
    name: Deploy Plugin
    if: contains(github.event.head_commit.message, '(plugin)')
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Get project version
        id: get_version
        shell: bash
        run: |
          project_version=$(./gradlew -q --console=plain printPluginVersion)
          echo version=$project_version >> $GITHUB_OUTPUT
      - name: Deploy snapshot version
        if: endsWith(steps.get_version.outputs.version, '-SNAPSHOT')
        run: ./gradlew -Dorg.gradle.parallel=true publishSnapshotPlugin --stacktrace -Dorg.gradle.internal.http.socketTimeout=90000 -Dorg.gradle.internal.http.connectionTimeout=90000
        env:
          PUBLISH_USER: ${{ secrets.PUBLISH_USER }}
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
      - name: Deploy release
        if: ${{ !endsWith(steps.get_version.outputs.version, '-SNAPSHOT') }}
        run: ./gradlew -Dorg.gradle.parallel=true publishPlugin --stacktrace -Dorg.gradle.internal.http.socketTimeout=90000 -Dorg.gradle.internal.http.connectionTimeout=90000
        env:
          PUBLISH_USER: ${{ secrets.PUBLISH_USER }}
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
